body {background-color: #f2f2f2;}
i{margin-right:5px;}
.sidebar{background-color:#fff; padding:0px; min-height: 85vh; }	
.user-profile{padding: 20px; }
.user-profile img{ width: 100px; margin-bottom: 15px;}
.user-profile h4{margin-bottom:15px; font-weight:bold;}
.dropdown-menu{margin-top: 0px;}
.card-header{font-size: 20px !important;}
.table.dataTable{width:100% !important;}
.top-nav{background-color: #724ce8; }
.top-nav .nav-link{color: #fff !important;}
.login-form{}
.login-form h2{font-size: 25px; font-weight: bold; margin-bottom: 80px;}
.login-box{box-shadow: 0px 0px 30px 0px #0000000d; padding: 30px; border-radius: 2px; background-color: #fff; position: relative; padding-top:60px; }
.login-box .form-group{ margin-bottom: 25px; }
.login-logo{ position: absolute; top: -50px; width: 90px; left: 0; right: 0; margin: 0 auto;}
.btn-submit{ background-color: #6078fe; color: #fff;}
.btn-submit:hover{ background-color: #5168e4; }
.alert-pink{ background-color: #e84c85; color: #fff; }
.top-nav .navbar-brand img{ width: 50px; }
.main-nav .navbar-brand img{ width: 92px; }
.top-nav li a{ font-size: 16px; }
.main-nav li a{font-size: 14px; font-weight: 700; text-transform: uppercase; }
.main-nav .nav-item{margin:0 10px;}
.main-nav .btn-contact{background-color: #724ce8; color: #fff !important; font-size: 13px; text-transform: uppercase; padding: 6px 15px 4px 15px!important; font-weight: bold; border-radius: 50px; vertical-align: middle; }
.main-nav .name-box{display: inline-block; width: 30px; height: 30px; text-align: center; background-color: #efefef; border-radius: 50px; font-size: 14px; text-transform: uppercase; color: #000; vertical-align: middle; padding: 5px;}
.drop{padding: 0px;}
.dropdown-menu{border:1px solid rgba(0, 0, 0, 0.03); box-shadow: 0px 0px 10px 0px #00000014;}
.dropdown-menu li a{color: #724ce8; font-size: 13px;}
.dropdown-menu li a:hover{ background-color: transparent; }
.dropdown-menu li a i{width: 20px; display: inline-block;}
.user-drop{border-left: 1px solid #ececec; margin-top: -18px !important; margin-bottom: -12px !important; padding: 22px 5px 0 10px;}
.container-box{border: 1px solid #efefef; border-radius: 5px; background-color: white; padding: 15px; margin-bottom: 5px; box-shadow: 0px 0px 6px 0px #0000001a}
.site-list {}
.site-list .img-box{padding-right:0px;}
.site-list .img-box img{width: 100%;}
.site-list .name-box{}
.site-list .name-box h3{margin: 0; font-size: 22px; font-weight: bold; color: #484848; }
.site-list .name-box a:hover{text-decoration: none;}
.site-list .name-box a:hover h3{}
.site-list .name-box a{ font-size: 17px; color: #03A9F4; }
.site-list .price-box {}
.site-list .price-box h4{font-size: 20px; color: #38c172; font-weight: bold;}
.site-list .price-box h4 span{display: block; font-size: 15px; color: #c5c5c5; font-weight: normal; margin-top: 7px; }
.site-list .action-box{ border-left:1px solid #e8e8e8; text-align: center;} 
.site-list .action-box i{font-size: 20px; color: #d0d0d0; padding: 22px 0;}
.main-nav{ border-bottom:1px solid #ececec; box-shadow: none !important;}
/*-- Deshborad css --*/
.top-section{}
.dashboard-home{background-color: #fff; padding: 20px 0 0;     margin-bottom: 30px;}
.dashboard-home .d-img-box{ }
.dashboard-home .d-img-box img{width: 100% }
.dashboard-home .detail-box h4{font-size: 25px; font-weight: bold; color: #5f5f5f;margin: 0;}
.dashboard-home .detail-box a{font-size: 18px; color: #724ce8;}
.dashboard-home .detail-box{ padding-left: 0; }
.dash-nav{}
.dash-nav ul{margin:0; padding: 0px; list-style: none; display: inline-block; float: left; }
.dash-nav ul li{display: inline-block; margin-right: 25px; float: left;}
.dash-nav ul li a{font-size: 13px; color: #8c8c8c; font-weight: bold; text-transform: uppercase; border-bottom: 2px solid #fff; padding: 0 0px 15px 0;}
.dash-nav a{ float: right; }
.dash-nav ul li a:hover{ border-bottom: 2px solid #724ce8; text-decoration: none; color: #000;}
.dash-nav .btn-login{ border-radius: 50px; border: 2px solid #eaeaea; color: #a7a7a7; text-transform: uppercase; padding: 6px 20px 5px 20px; font-size: 10px; font-weight: bold; line-height: initial;}
.dash-nav{ margin-top: 30px;}
/*.dash-nav .btn-login:hover{ background-color: #724ce8; border: 2px solid #724ce8; color: #fff; }
*/.box-container{background-color: #fff; border:1px solid #ebedf2; border-radius: 2px;}
.box-header{border-bottom: 1px solid #ebedf2; padding:15px; /*margin-bottom: 15px;*/}
.head-caption{}
.head-caption h2{margin: 0; font-size: 20px; font-weight: bold; }
.box-container .box-body{}
.dash-detail p{margin: 0px 0 5px 0;}
.full-total h5 b{font-size: 25px; color: #4caf50; }
.full-total h5 { margin-bottom: 0px; }
.dash-detail h4{ font-size: 18px; font-weight: bold;}
.dash-detail h4 span{font-size: 13px; font-weight: normal; color: #c3c3c3;}
.dash-detail p{ font-size: 16px; color: #6f6f6f; }
.services-box{padding-top:15px; padding-bottom:15px; border-bottom:1px solid #ebedf2; }
.total-box{padding-top:15px; padding-bottom:15px;}
.total-box h4{font-size: 25px; margin-bottom: 0px;  }
.amount-box{text-align: center; padding: 30px 15px;}
.amount-box h5{margin-bottom: 0px;}
.counrty-box i{ position: absolute; top: 30px; font-size: 32px; color: #ccc; right: 25px; z-index: 1;}
.card-update{ padding: 9px 15px; }
.form-select i{position: absolute; top: 34px; font-size: 32px; color: #ccc; right: 5px; z-index: 1; }
.form-select select{-webkit-appearance: none; -moz-appearance:none; appearance:none; }
.form-select {position: relative;}



/*-- Plan detail section --*/
.plan-deatil-section{background-color: #724ce8; padding: 90px 0 0 0; min-height: 300px;}
.choose-plan{  }
.plan-box{background-color: #fff; padding: 40px; border-radius: 25px; margin-top: -100px; margin-bottom: 50px; box-shadow: 0px 5px 13px 0px #00000012;}
.connecting-line {height: 2px; background: #ffffff; position: absolute; width: 66%; margin: 0 auto; left: 0; right: 0; top: 15%;}
.step-text a{ font-size: 18px; color: #fff;  }
.step-text a:hover{ text-decoration: none; }
.step-text span{ background-color: #724ce8; display: block; width: 20px; height: 20px; border-radius: 50px; border: 2px solid #fff; margin:0 auto 15px;}
.step-box .active span{background-color: #fff;}
.plan-section{}
.plan-section .plan h2{ color: #2e3343; font-size: 35px; font-weight: bold; text-transform: capitalize; letter-spacing: -0.5px;  }
.plan-section .plan span {font-size: 20px; color: #00c5dc; font-weight: 600;}
.plan-section .plan .plan-btn{background-color: #fff; border: 2px solid #c4c5d6; color: #c4c5d6; border-radius: 50px; text-transform: uppercase; font-weight: bold; line-height: normal; padding: 8px 24px;}
.plan-section .plan .plan-btn:hover{ background-color: #724ce8; border-color: #724ce8; color: #fff; }
.plan-section .detail-list{}
.plan-section .detail-list ul{margin: 0px; padding: 0px; list-style: none;}
.plan-section .detail-list ul li{ width: 50%; float: left;font-size: 18px; margin-bottom: 18px; font-weight: normal; background-image: url(../images/tick.png); background-repeat: no-repeat; background-position: top 4px left; padding-left: 43px; background-size: 22px}
.plan-section .detail-list ul li:last-child{margin-bottom: 0px;}
.info-box {background-color: #fff; padding: 40px; border-radius: 30px; margin-bottom: 50px;     box-shadow: 0px 5px 13px 0px #00000012;}
.info-box h2{color: #2e3343; font-size: 35px; font-weight: bold; text-transform: capitalize; letter-spacing: -0.5px;}
.info-box p{ font-size: 17px; font-weight: 600;}
.info-box input{border-radius: 50px; border: 2px solid #c4c5d6; padding: 8px 25px; font-size: 15px;}
.info-box select{border-radius: 50px; border: 2px solid #c4c5d6; padding:8px 10px 8px 25px; font-size: 15px; min-height: 42px; -webkit-appearance: none; -moz-appearance:none; appearance:none; background-color: transparent; z-index: 2; position: relative;} 
.checkbox-inline label{ margin-bottom: 0px !important; text-transform: inherit !important; }
.info-box label{font-size: 14px; font-weight: bold; text-transform: uppercase; margin-bottom: 3px;}
.info-box .form-group{margin-bottom: 25px;}
.info-box h5{font-size: 16px; letter-spacing: -0.3px; color: #5f5f5f;}
.info-box .checkbox-inline{text-transform: inherit; font-size: 17px; font-weight: normal; }
.btn-cont {background-color: #724ce8; color: white; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; border-radius: 50px; padding: 10px 34px; font-size: 16px;}
.btn-cont:hover{background-color: #5635bd;}
.payment-summery{border-left: 1px solid #dedede;}
.payment-summery label{display: block; font-size: 16px;}
.error{display: block;}

.checkbox {padding-left: 20px; }
.checkbox label { margin-bottom: 0px; line-height: inherit; display: inline-block; position: relative; padding-left: 5px; text-transform: inherit; font-size: 16px;}
.checkbox label::before{ content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after{ display: inline-block; position: absolute; width: 16px;height: 16px; left: 0; top: 0; margin-left: -20px; padding-left: 3px; padding-top: 1px; font-size: 11px; color: #555555; }
.checkbox input[type="checkbox"] { opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after { font-family: 'FontAwesome'; content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label { opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before { background-color: #eeeeee; cursor: not-allowed; }
.checkbox.checkbox-circle label::before { border-radius: 50%; }
.checkbox.checkbox-inline { margin-top: 0; }
.checkbox-primary input[type="checkbox"]:checked + label::before {background-color: #428bca; border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after { color: #fff; }
.radio { padding-left: 20px; }
.radio label {margin-bottom: 0px; line-height: inherit; display: inline-block; position: relative; padding-left: 5px; text-transform: inherit; font-size: 16px;}
.radio label::before { top:4px; content: "";display: inline-block; position: absolute; width: 18px; height: 18px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 50%; background-color: #fff; -webkit-transition: border 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out; transition: border 0.15s ease-in-out; }
.radio label::after { top:4px;  display: inline-block; position: absolute; content: ""; width: 12px; height: 12px; left: 3px; top: 7px; margin-left: -20px; border-radius: 50%; background-color: #555555; -webkit-transform: scale(0, 0); -ms-transform: scale(0, 0); -o-transform: scale(0, 0); transform: scale(0, 0); -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] { opacity: 0; }
.radio input[type="radio"]:focus + label::before { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after { -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label { opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {cursor: not-allowed; }
.radio.radio-inline { margin-top: 0; }
.radio-primary input[type="radio"] + label::after {background-color: #724ce8; }
.radio-primary input[type="radio"]:checked + label::before {border-color: #724ce8; }
.radio-primary input[type="radio"]:checked + label::after { background-color: #724ce8; }
.card-cvc-detail{ border-radius: 50px; border: 2px solid #c4c5d6; padding: 11px 25px; font-size: 15px; margin-bottom: 30px;}
.card-cvc-detail input{ display: inline-block; border:none; min-height: auto; padding: 0;}

/*--top-filter-nav--*/
.top-step{ background-color: white; margin-bottom: 30px; }
.top-filter-nav{background-color: #fff; margin-bottom: 30px;}
.step-nav{ padding: 0px; }
.step-nav ul{list-style: none; display: inline-block;}
.step-nav ul li{ display: inline-block; }
.step-nav ul li a {font-size: 14px; text-transform: uppercase; font-weight: bold; color: #a5a5a5; margin-right: 20px; border-bottom: 2px solid transparent; padding: 30px 0 15px 0;}
.step-nav ul li a:hover{ border-bottom: 2px solid #00bcd4; color: #000; }
.setting-user .name-box{ display: inline-block; }
.step-nav ul li.setting-drop{border-right: 1px solid #efefef; margin-right: 20px; }
.setting-list a{font-size: 20px !important; padding-top: 0 !important; padding-bottom: 0 !important;}

/*-- Search Section --*/
.search-section{ width: 100%; position: relative; background-color: #f7f6f6; border-bottom: 1px solid #e7e7e7; margin-top: -25px; padding: 0px;}
.search-box{position: relative;}
.search-section input{ border: none; background-color:#f7f6f6; padding-left: 35px; min-height: 60px; text-transform: capitalize; }
.search-section .fa-search{ position: absolute; font-size: 25px; color: #dedede; top: 18px; }
.search-section input:focus{ background-color: #f7f6f6; box-shadow: none;}
.total-search{ font-size: 22px;font-weight: bold; margin: 30px 0 5px 0px; color: #262727;}
.pagination-response span {color: #9f9c9c;}
.pagination-box{ padding-right: 0; }
.pagination-box ul{float: right; margin-bottom: 0px; }
.pagination-box ul li span{ background-color: #f7f7fc !important; border-color: #f7f7fc !important; }
.pagination-box ul li.active span{  background-color: #9f9c9c !important; border-color: #9f9c9c !important; border-radius: 50px;  }
.pagination-box ul li a{ background-color: #f7f7fc !important; border-color: #f7f7fc !important;color: #9f9c9c; }
.pagination-response .not-found{  margin-top: 25px; border: 1px solid #efefef; border-radius: 5px; background-color: white; padding: 15px; margin-bottom: 5px; text-align: center;	}
.site-list .name-box h3 a{ margin: 0; font-size: 22px; font-weight: bold; color: #484848;}
/*-- Site Detail --*/
.top-section{ background-color: #fff; padding: 15px 0 0 0; margin-top: -25px; }
.site-pro img{width: 100%;  }
.site-pro h4{margin: 0px 0 5px 0; font-size: 30px; font-weight: bold;}
.site-pro a{ font-size: 17px; display: block; }
.left-nav{}
.nav-box{ margin-top:30px;  }
.left-nav nav{ margin: 0px; padding: 0px; }
.left-nav ul{}
.left-nav ul li{display: inline-block; margin-right: 15px;}
.left-nav ul li:last-child{  margin-right: 0px; }
.left-nav ul li a{text-transform: uppercase; font-size: 15px; font-weight: bold; color: #c7c4c4; border-bottom: 2px solid #ccc0; padding: 0 0 17px 0;}
.left-nav ul li a:hover{     color: #724ce8 !important;
    border-bottom: 2px solid #724ce8;
    background-color: transparent !important;
    border-radius: 0px;}
    .left-nav ul li a:focus{ color: #724ce8 !important;
    border-bottom: 2px solid #724ce8;
    background-color: transparent !important;
    border-radius: 0px; }
.right-nav{text-align: right;}
.right-nav .dropdown-toggle{font-size: 25px; color: #c7c4c4 !important; vertical-align: middle; margin-right: 15px; display: inline-block;}
.right-nav .dropdown-toggle:after{content: none;}
.right-nav .dropdown{display: inline-block;  }
.right-nav .btn-admin{ border: 2px solid #9f9c9c; color: #9f9c9c; text-transform: uppercase; font-weight: bold; font-size: 15px; border-radius: 50px; padding: 3px 20px;}
.right-nav .btn-admin:hover{ background-color: #9f9c9c; color:#fff; border-color: transparent; }
.btn-admin{ border: 2px solid #9f9c9c; color: #9f9c9c; text-transform: uppercase; font-weight: bold; font-size: 15px; border-radius: 50px; padding: 3px 20px;}
.btn-admin:hover{ background-color: #724ce8; color:#fff; border-color: #724ce8; }
.btn-start{ background-color: #724ce8; border-color: #724ce8; border-radius: 100px; font-size: 15px; padding: 7px 22px; font-weight: bold; color: #fff; margin-left: 359px;}
.btn-start:hover{ background-color: #562dd8; color: #fff; text-decoration: none;}
/*-- Custome Card --*/
.custome-card{border:none; box-shadow: 0px 0px 10px 0px #0000000d;}
.custome-card .card-header{ padding-top: 20px; padding-bottom: 20px; background-color: #fff; border-bottom: 1px solid #e7e7e7; font-size: 22px !important; font-weight: bold;}
.custome-card .card-body{}
.paid-box{ background-color: #fafafa; padding: 15px; margin-right: 0px; margin-left: 0px; }
.paid-box .paid-btn-box{padding-left: 0px;}
.paid-box .invoice-box a{color: #764fe0;}
.paid-box .date-box{}
.paid-box .price-box{padding-right: 0px;}
.date-active{font-size: 16px; color: #a6a4a4; margin-bottom: 5px; }
.btn-paid{ text-transform: uppercase; }
.services-modal .modal-header{ padding:20px 20px 0px 20px; border-bottom: none;}
.services-modal .modal-body{ text-align: center; padding: 20px; }
.services-modal .modal-body h4{ margin-bottom: 20px; margin-top: 0px; font-size: 22px; color: #3e3e3ecc; font-weight: bold;}
.service-div {margin-right: 0; margin-left: 0;} 
.service-div .ser-list{ border: 1px solid #ccc; padding: 15px; border-radius: 3px; border-radius:4px 0px 0px 4px;}
.service-div .active{ border: 3px solid #50c6db; position: relative; overflow: hidden;}
.service-div .ser-list:last-child{border-radius:0 4px 4px 0; }
.service-div .ser-list h5{font-size: 17px; color: #686868; font-weight: 600;line-height: inherit; margin-bottom: 0px;} 
.date-p{font-size: 15px; color: #686868; }
.select-service-box{ padding:20px; background-color: #f7f6f6; position: relative;}
.select-service-box .or{position: relative; margin: 25px 0; font-size: 15px; font-weight: bold; color: #ccc;}
.select-service-box .or:after{content: ""; width: 45%; height: 1px; background-color: #e6e6e6; position: absolute; left: 0; top: 12px;} 
.select-service-box .or:before{content: ""; width: 45%; height: 1px; top: 12px; background-color: #e6e6e6; position: absolute; right: 0;} 
.btn-add-ser{background-color: red; border-radius: 50px; background-color: #50c6db; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 13px; padding: 8px 30px;}

.services-modal .modal-footer{ text-align: center;  padding:20px;  }
.services-modal .btn-cre-ser{  background-color: red;
    border-radius: 50px;
    background-color: #50bb7a;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px; padding: 12px 40px; margin: 0 auto; }
    .service-div .active:after{      content: "";
    position: absolute;
    height: 30px;
    width: 50px;
    background-color: #50c6db;
    top: -12px;
    right: -19px;
    transform: rotate(45deg);
    background-image: url( ../images/ad.png);
    background-repeat: no-repeat;
    background-position: center;}

.btn-update{ border-radius: 50px; font-size: 13px; text-transform: uppercase; font-weight: bold; background-color: #724ce8; padding: 5px 25px; color: #fff; }
.btn-cancel{ color: #724ce8; text-transform: uppercase; font-weight: bold;}
.btn-update:hover{ background-color: #502cbf; }
.btn-cancel:hover{ text-decoration: none; color: #502cbf; }
.card-errors:{color:red;}

.site-pro .img-box{position: relative;}
.site-pro .up-drop{ position: absolute;      bottom: -57px;
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(38,39,39,.25), 0 0 1px 0 rgba(38,39,39,.25);
    width: 100%;
    z-index: 3;
        display: none;
}

.site-pro .img-box:hover .up-drop{display: block;}
.site-pro .up-drop a{        padding: 13px 15px;
    position: relative;
    margin: 0;
    background-color: #fff;}
.site-pro .up-drop a:hover{ background-color: #f7f7f7; text-decoration: none; }
.site-pro .up-drop .file-select{    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    top: 11px;
    width: 100%;
    z-index: 5;}
.site-pro .up-drop:before{
        content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    -webkit-transition: all .05s cubic-bezier(.2,.3,.25,.9) 0s;
    transition: all .05s cubic-bezier(.2,.3,.25,.9) 0s;
    z-index: -1;
    margin-left: -10px;
    border-radius: .4rem;
    background: #fff;
    width: 2rem;
    height: 2rem;
        right: 1.1em;
            left: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 2px 0 rgba(38,39,39,.25), 0 0 1px 0 rgba(38,39,39,.25);
     box-shadow: 0 0 2px 0 rgba(38,39,39,.25), 0 0 1px 0 rgba(38,39,39,.25); 
}
.site-detail-box{     
    padding: 15px; }
.site-info-box:nth-child(odd){ background-color: #f9f9f9; }
.site-detail-box h2{     font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
} 
.site-info-box{margin-right: -20px; margin-left: -20px; }

.site-detail-box p{     font-size: 15px;
    color: #4c4c4c;}

.contact-de h4{font-weight: bold; margin-bottom: 0px; font-size: 16px;}
.contact-de p{color: #f4b506; margin-bottom: 0px;}


